@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
#map {
  flex: 1;
  height: 60vh;
}
footer {
  text-align: center;
  background-color: #f5f5f5;
  padding: 10px;
  margin-top: -10px;
}