@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

#buttonToSevaerdigheder {
  width: 120px;
  margin: 20px 35px 0 40px; /* added margin-top value of 20px */
  border: none;
  background-color: white;
}

#buttonToRute {
  width: 120px;
  margin: 20px 20px 0 20px; /* added margin-top value of 20px */
  border: none;
  background-color: white;
}

#buttonToRute img {
  width: 85px;
  height: 85px;
}

#buttonToSevaerdigheder img {
  width: 85px;
  height: 85px;
}



/* Laver scrolling på container (kort) */
.container {
  position: relative;
}




#map {
  position: relative;
  height: 793px;
  margin-top: 32px;
}

#map footer {
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 100%;
  z-index: 1000;
  text-align: right;
}


/* Nav bar */
#steder {
  position: fixed;
  overflow: hidden;
  background-color: rgb(108, 190, 157);
  text-align: left;
  top: 0; 
  width: 100%; 
  height: 50px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1800;
  display: flex;
  align-items: center;
  justify-content: center; /* add this line to center the text */
  font-weight: bold;
}



#mapButton {
  
  position: absolute;
  top: 7.5%;
  right: 51%;
  transform: translateX(-50%);
  z-index: 1900;
  display: inline-block;
}



#listButton {
  position: absolute;
  top: 7.5%;
  right: 49%;
  transform: translateX(-50%);
  z-index: 1900;
  display: inline-block;
  width: 1px;
  height: 1px;
}

#mapButton img,
#listButton img {
  max-width: 30px;
  max-height: 30px;
}


.my-list-class {
  list-style: none;
  padding-left: 0;
  
  
}

.my-list-class li {
  font-size: 26px;
  align-items: left;
  margin: 30px;
  background-color: rgb(65, 177, 141);
  border-radius: 10px;
  position: relative;
  top: 100px;
  justify-content: center;
} 

.my-img-class {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 45px; 
  position: relative;
  top: 5px;
}

/* Style the button */
.openbtn {
  right: 0;
  left: auto;
  font-size: 20px;
  cursor: pointer;
  background-color: #333;
  color: white;
  padding: 10px 15px;
  border: none;
  position: fixed;
  z-index: 2000;
  height: 50px;
  top: 0;
}

/* Style the navigation bar */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2100;
  top: 0;
  right: 0;
  background-color: #f1f1f1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

/* Style the links inside the navigation bar */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* Change the color of links on hover */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Style the close button */
.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 1em;
  line-height: 1.5;
  color: #004536;
}

h1 {
  font-size: 2.5em;
  margin: 0;
}

h2 {
  font-size: 1.8em;
  margin: 0;
}
p {
  margin: 0;
}

div#navigationbuttons {
  width: 100%;
  text-align: center;
}

#homepageImg {
  box-sizing: border-box;
  margin-top: 32px;
  width: 100%;
  height: auto;
}

.container {
  position: relative;
  padding: 0;
  box-sizing: border-box;
}

/* ruteKirker-html */

.slideshow-container {
  position: relative;
}

.slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.slide img {
  width: 100%;
  animation: slide-in 1s forwards;
}

.active {
  display: block;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}


.ruteKirkerList {
  padding-top: 500px;
  border-radius: 10px;
  margin: 20px;
}

.ruteKirkerList ul {
  list-style-type: disc;
  margin-left: 20px;
  list-style: none;
  padding-left: 0;
}

.ruteKirkerList li {
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 1.4;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.poi {
  display: none;
}

.leaflet-control-container .leaflet-routing-container-hide {
  display: none;
}

.leaflet-routing-container .leaflet-routing-alternatives-container {
  display: none !important;
}
#goBack {
  position: fixed;

  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  text-align: left; /* center the text */
}

#goBack::before {
  position: fixed;

  content: '\279D';
  left: 10px;
  z-index: 2000;
  color: white; /* Change arrow color to white */
  font-size: 40px; /* Increase arrow font size */
  font-weight: bold; /* Make the arrow thicker */
  
  transform: rotate(180deg); /* Rotate arrow 180 degrees */
  display: inline-block; /* add this line to center the arrow */
  text-align: left; /* add this line to center the arrow */
}


