@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

#buttonToSevaerdigheder, #buttonToRute {
  border: none;
  background: none;
}

#buttonToRute img, #buttonToSevaerdigheder img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 16px;
    background-color: #ffffff;
    border: 2px solid #6cbe9d;
    margin: 20px;
}


/* Laver scrolling på container (kort) */
/*.container {
  position: relative;
}
*/

#map {
  position: relative;
  height: 100%;
  /*margin-top: 32px;*/
}

#map footer {
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 100%;
  z-index: 1000;
  text-align: right;
}


/* Nav bar */
#steder {
  position: fixed;
  overflow: hidden;
  background-color: rgb(108, 190, 157);
  text-align: left;
  top: 0; 
  width: 100%; 
  height: 50px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1800;
  display: flex;
  align-items: center;
  justify-content: center; /* add this line to center the text */
  font-weight: bold;
}

div#toggle_maplist {
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: 1000;
  text-align: center;
  font-size: 0;
}

#mapButton {
  height: 50px;
  width: 50px;
  background-color: #004536;
  border: none;
  vertical-align: top;
  border-bottom-left-radius: 15px;
}
#mapButton img {
  padding: 5px;
}

#listButton {
  height: 50px;
  width: 50px;
  background-color: #004536;
  border: none;
  vertical-align: top;
  border-bottom-right-radius: 15px;
}


.sevaerdighederList {
  list-style: none;
  padding-left: 0;
}

.sevaerdighederList li {
  font-size: 26px;
  align-items: left;
  margin: 30px;
  background-color: rgb(65, 177, 141);
  border-radius: 10px;
  position: relative;
  top: 100px;
  justify-content: center;
} 

.my-img-class {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 45px; 
  position: relative;
  top: 5px;
}

/* Style the button */
.openbtn {
  right: 0;
  left: auto;
  font-size: 20px;
  cursor: pointer;
  background-color: #6cbe9d;
  color: #004536;
  padding: 0 15px 0 0;
  border: none;
  position: fixed;
  z-index: 2100;
  line-height: 50px;
}

/* Style the navigation bar */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2100;
  top: 50px;
  right: 0;
  background-color: #f1f1f1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

/* Style the links inside the navigation bar */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #004536;
  display: block;
  transition: 0.3s;
}

/* Change the color of links on hover */
.sidebar a:hover {
  color: #6cbe9d;
}

div#lang {
  position: absolute;
  padding-left: 32px;
  top: 10px;
}

div#lang button {
    border: none;
    background-color: #6cbe9d;
}

div#lang button:hover {
  background-color: #004536;
  color: #ffffff;
}

/* Style the close button */
.closebtn {
  top: 0;
  margin-left: 50px;
  z-index: 2000;
  right: 0;
  left: auto;
  font-size: 45px;
  cursor: pointer;
  background-color: #6cbe9d;
  color: #004536;
  border: none;
  position: fixed;
  line-height: 50px;
  padding: 0 15px 0 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 1em;
  line-height: 1.5;
  color: #004536;
  /*overflow: hidden;*/
}

h1 {
  font-size: 2.5em;
  margin: 0;
}

h2 {
  font-size: 1.8em;
  margin: 0;
}
p {
  margin: 0;
}

div#content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 4em;
  overflow: hidden;
}

div#content:before {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/intro.jpg);
  background-size: cover;
  background-position: center;
  content: '';
}

div#navigationbuttons {
  width: 100%;
  text-align: center;
  bottom: 5vh;
  position: absolute;
}

#homepageImg {
  box-sizing: border-box;
  margin-top: 32px;
  width: 100%;
  height: auto;
}

.container {
  /*
  position: relative;
  padding: 0;
  body: border-box;
  */
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  /*overflow: hidden;*/
}

.leaflet-control-container {
  top: 50px;
  position: relative;
}

/* ruteKirker-html */

.slideshow-container {
  position: relative;
}

.slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.slide img {
  width: 100%;
  animation: slide-in 1s forwards;
}

.active {
  display: block;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}


.ruteKirkerList {
  padding-top: 500px;
  border-radius: 10px;
  margin: 20px;
}

.ruteKirkerList ul {
  list-style-type: disc;
  margin-left: 20px;
  list-style: none;
  padding-left: 0;
}

.ruteKirkerList li {
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 1.4;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.poi {
  display: none;
}

.leaflet-control-container .leaflet-routing-container-hide {
  display: none;
}

.leaflet-routing-container .leaflet-routing-alternatives-container {
  display: none !important;
}
#goBack {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  text-align: left; /* center the text */
}

#goBack::before {
  position: fixed;

  content: '\279D';
  left: 10px;
  z-index: 2000;
  color: white; /* Change arrow color to white */
  font-size: 40px; /* Increase arrow font size */
  font-weight: bold; /* Make the arrow thicker */
  
  transform: rotate(180deg); /* Rotate arrow 180 degrees */
  display: inline-block; /* add this line to center the arrow */
  text-align: left; /* add this line to center the arrow */
}

