body {
    margin: 0;
    
    height: 100vh;
  
  }

  #sevaerdighederImg {
    width: 100%;
    height: auto;
  }


  .sevaerdighederTitle {
    padding: 10px;
  }

  .sevaerdighederDescription {
    font-size: 18px;
    padding: 10px;
  }

audio {
    width: 100%;
}
